<div class="navbar">
  <a href="learn" class="btn-navbar">Learn</a>
  <a href="teach" class="btn-navbar">Teach</a>
  <% if user_signed_in? %>
    <%= link_to "Me", user_path(id: current_user.id),class: "btn-navbar" %>
  <% end %>
  <a href="options" class="btn-navbar">Options</a>
</div>
