<div class="navbar">
  <a href="learn" class="btn-navbar">Learn</a>
  <a href="teach" class="btn-navbar">Teach</a>
  <a href="user" class="btn-navbar">Me</a>
  <a href="options" class="btn-navbar">Options</a>
</div>
