<div class="notif">
  <p align='center'><a class="CreatePostLink" href="ask.html">Ask your question</a></p>
  <hr class="PostBarLink">
  <h2 align="center"><b>Your Notifications</b></h2>
  <hr class="notificationshr1">

  <% for i in 0..5 do %>
    <div class="notifications">
      <div class="notificationsDate">29/04/18</div>
      <div class="PostDescription">Posted by
        <%= link_to "UserName", user_path(id: 1), class: "PostDescriptionLink" %>
         in 27/03/2020
      </div>
      responded <a href="/posts/1" class="notificationsLink">your question</a>:<br>
      <div class="notificationsBox">
      You are wrong, "Bum dia" is written "Bom dia".
      </div>
    </div>
    <hr class="notificationshr1">
  <% end %>

  <h2 align="center"><b><a href="/posts/1" class="notificationsLink">See more</a></h2>

  </div>
</div>
