<% if !user_signed_in? %>
  <div class="navbar">
    <a href="users/sign_in" class="btn-navbar">Log in</a>
    <a href="users/sign_up" class="btn-navbar">Sign up</a>
  </div>
<% else %>
  <%= render ("/templates/navbar") %>
<% end %>
<h1 class="forms-h2" align="center"><br><br>
  Welcome me to Lingui.me!<br>
</h1>
<h2 class="forms-h2" align="center">
  Where You can easily learn any language!
<br><br></h2>

<h3 class="forms-h2" align="center">
  What do you want to do?<br><br>
  <% if !user_signed_in? %>
    <a href="users/sign_up" >Sign up</a> &nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="users/sign_in" >Log in</a>
  <% else %>
    <a href="learn" >Learn</a> &nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="teach" >Teach</a>
  <% end %>
<br><br></h2>
